.contact-social-links a {
    text-decoration: none;

}

.site-name {
    font-weight: 700;
    line-height: 20px;
    font-size: 18px;
    font-family: BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif;
    letter-spacing: 1px;
    text-size-adjust: 100%;
    color: #000;
}

.nav-item {

    padding-left: 30px;
}